* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.header {
  height: 70px;
  background: linear-gradient(90deg, #0d6efd, #0b5ed7);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header h1 {
  color: white;
  font-weight: bold;
}
.header .search {
  width: 400px;
  height: 32px;
  /* background-color: red; */
}
.header .search input {
  width: 100%;
  height: 32px;
  border-radius: 15px;
  border: none;
  outline: none;
}
.header .search input::placeholder {
  padding-left: 20px;
}
.header nav {
}
.header nav a {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-weight: bold;
}
.header .menu {
  display: none;
}

/* Viết code responsive cuối cùng CSS */
/* viết code responsive cho màn hình máy tính bảng nhỏ
 768px <= X <= 1024px
 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header nav{
        display: none;
    }
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 20px;
  }
  .header .search {
    display: none;
  }
  .header nav {
    display: none;
  }
  .header .menu {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 32px;
  }
}
